.header {
  display: flex;
  align-items: center;
  grid-area: h;
  letter-spacing: 1px;
  height: 80px;
  background: rgb(178,235,242);
  background: linear-gradient(0deg, rgba(178,235,242,1) 0%, rgba(0,151,167,1) 100%);
  color: #fff;
}

.header img {
  width: 100px;
}
