.nav {
  grid-area: n;
  background-color: #0097A7;
  padding: 20px;
}

.item a{
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  line-height: 40px;
  outline:none;
}
.item a:hover{
  color:gold;
  cursor: pointer;
}

.item a.active {
  color: gold;
}
