.nav {
  grid-area: n;
  background: rgb(0,151,167);
  background: linear-gradient(90deg, rgba(0,151,167,1) 0%, rgba(0,151,167,0.8855917366946778) 41%, rgba(171,231,244,1) 88%);
  padding: 20px;
}

.item a{
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  line-height: 40px;
  outline:none;
}
.item a:hover{
  color:gold;
  cursor: pointer;
}

.item a.active {
  color: gold;
}
