
.app-wrapper {
    display: grid;
    grid-template-areas: "h h " "n c";
    grid-template-rows: minmax(1em, auto) 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;


}


.app-wrapper-content {
    grid-area: c;
    background-color: #B2EBF2;

}