.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.dialogsItems {

}

.dialog a {
    color: #000000;
    text-decoration: none;
    line-height: 40px;
    outline: none;
}

.dialog a:hover{
    color:#795548;
    cursor: pointer;
}


.dialog a.active {
    color: #795548;
}

.dialog {
    line-height: 40px;
}

.messages {
}

